/*[fmt]0*//*GLOBAL*/
NAV > UL > LI {
    display: block;
    float: left;
    list-style: none;
}

A {
    color: #4C4C4C;
}

A:hover {
    color: #AAA;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
= behavior : url ( "/Static/JS/polyfills/boxsizing.htc" );
}

/*BODY*/
HTML {
    background-image: url('/Static/Images/Layout/Background.png');
    background-attachment: fixed;
    background-size: cover;
}

BODY {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER*/
HEADER {
    margin-top: 5px;
}

HEADER #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#logo IMG {
    width: 300px;
}

NAV#SubNav {
    float: right;
    margin-right: 10px;
    margin-top: -75px;
}

#SubNav LI:first-child {
    color: #4C4C4C;
    text-decoration: underline;
    margin-top: -8px;
}

#SubNav LI:first-child:hover {
    cursor: pointer;
    color: #AAA;
}

#SubNav LI:not(:first-child):before {
    content: "|";
    margin-left: 7px;
    margin-right: 7px;
}

NAV#MainNav {
    background-image: url('/Static/Images/Header/NavBar.png');
    background-size: 100% 58px;
    padding-top: 9px;
    overflow: hidden;
}

#MainNav LI.Active {
    /*+opacity:75%;*/
    filter: alpha(opacity=75);
    -ms-filter: progid

:DXImageTransform.Microsoft.

Alpha
(
Opacity

=
75
)
;
-moz-opacity:

0.75
;
opacity:

0.75
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
    }

#MainNav UL {
    float: left;
    margin: 0px;
    padding: 0px;
}

#MainNav LI:first-child {
    margin-left: 35px;
}

#MainNav LI:hover {
    /*+opacity:60%;*/
    filter: alpha(opacity=60);
    -ms-filter: progid

:DXImageTransform.Microsoft.

Alpha
(
Opacity

=
60
)
;
-moz-opacity:

0.6
;
opacity:

0.6
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
60
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
60
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
    }

#MainNav UL LI:not(:first-child):before {
    content: " ";
    background-color: #FFF;
    width: 10px;
    height: 10px;
    display: block;
    float: left; /*+border-radius:1px;*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
    margin-top: 14px;
    margin-right: 11px;
    margin-left: 11px;
}

#MainNav H1 {
    float: right;
    display: block;
    padding: 0px;
    margin: 0px 25px 0px 0px;
    color: #FFF;
    font-family: Impact;
    font-size: 30px;
    font-weight: normal;
}

/*ADMIN*/
#Admin.Page #Global TD {
    width: 130px;
    text-align: center;
}

#Admin.Page #Global TD INPUT {
    width: 130px;
}

#Admin.Page #Items TD, #Admin.Page #Items TD INPUT, #Admin.Page #Items TD TEXTAREA {
    width: 91px;
}

/*FAQ*/
#FAQ IMG.left {
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}

#FAQ H3 {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

#FAQ TABLE {
    width: 800px;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
}

#FAQ TH, #FAQ TD {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
}

/*Item Pages*/
.ItemsContainer {
    overflow: hidden;
    padding: 0 30px 30px;
}

.ItemsContainer .Item {
    width: 175px;
    height: 225px;
    float: left;
    padding: 10px;
    margin-left: 11px;
}

.Item:hover, .Item.Selected {
    padding: 7px;
    cursor: pointer;
    border: thin solid #000;
    border-image: url('/Static/Images/Layout/BlackBorder.png') 5 5 5 5 stretch;
    border-width: 3px;
}

.Item:active {
    margin: 1px -1px -1px 12px;
}

.Item .Preview {
    border: 1px solid #000;
}

.Item .Name {
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: -2px 0px 0px;
}

.Item .Price {
    font-weight: bold;
    font-size: 20px;
    margin: 8px 0px 0px 10px;
}

/*Viewport*/
#TopperTop {
    float: right;
    margin-top: -10px;
    margin-bottom: -10px;
}

#TopperBottom {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    float: left;
    margin-top: -10px;
}

#Viewport {
    overflow: hidden;
    clear: both;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; /*FF3.6+*/
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5))); /*Chrome,Safari4+*/
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /*Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /*Opera 11.10+*/
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /*IE10+*/
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /*W3C*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); /*IE6-9*/
}

#InnerViewport {
    position: relative;
    height: 415px;
}

#Viewport H2.Name {
    font-size: 34px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: normal;
}

#Viewport .Description {
    font-size: 18px;
    position: absolute;
    top: 68px;
    left: 0;
    font-weight: normal;
    width: 295px;
}

#Viewport IMG.Primary {
    position: absolute;
    top: -20px;
    right: 332px;
    z-index: 0;
}

#Viewport IMG.Secondary {
    position: absolute;
    top: -30px;
    right: 272px;
    z-index: -1; /*+opacity:40%;*/
    filter: alpha(opacity=40);
    -ms-filter: progid

:DXImageTransform.Microsoft.

Alpha
(
Opacity

=
40
)
;
-moz-opacity:

0.4
;
opacity:

0.4
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
40
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
40
)
;
    }

#Viewport .Price {
    font-size: 25px;
    position: absolute;
    top: -5px;
    right: 30px;
}

#Viewport .Price .Number {
    font-size: 50px;
}

#Viewport INPUT[type=radio] {
    display: none;
}

#Viewport .Genders {
    position: absolute;
    top: 95px;
    right: 60px;
}

#Viewport .Genders LABEL {
    margin-left: 30px;
    color: #FFF;
    font-size: 30px;
}

#Viewport .Genders LABEL:hover {
    color: #D1D2D2 !important;
}

#Viewport .Genders INPUT[type=radio]:checked + LABEL {
    color: #4C4C4C;
}

#Viewport .Sizes {
    position: absolute;
    top: 150px;
    right: 29px;
}

#Viewport .Sizes LABEL {
    font-size: 30px;
    padding: 0px 12px;
    margin: 0px 0px 0px -4px;
    color: #FFF;
    border: thin solid #FFF;
    border-image: url('/Static/Images/Layout/WhiteBorder.png') 5 5 5 5 stretch;
    border-width: 2px;
}

#Viewport .Sizes LABEL:hover {
    background-color: #D1D2D2;
}

#Viewport .Sizes INPUT[type=radio]:checked + LABEL {
    color: #4C4C4C;
}

#Viewport #AddToCart {
    position: absolute;
    top: 203px;
    right: 30px;
    height: 60px;
    width: 247px;
    background-color: transparent;
    color: #FFF;
    font-weight: normal;
    font-size: 47px;
    font-family: inherit;
    border: thin solid #FFF;
    border-image: url('/Static/Images/Layout/WhiteBorder.png') 5 5 5 5 stretch;
    border-width: 2px;
}

#Viewport #AddToCart:hover {
    background-color: #D1D2D2;
}

#Viewport #AddToCart:active {
    background-color: #D1D2D2;
    color: #4C4C4C;
}

/*Cart*/
#CartContainer #CartBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; /*+opacity:75%;*/
    filter: alpha(opacity=75);
    -ms-filter: progid

:DXImageTransform.Microsoft.

Alpha
(
Opacity

=
75
)
;
-moz-opacity:

0.75
;
opacity:

0.75
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
-ms-filter:progid :DXImageTransform.Microsoft. Alpha

(
Opacity

=
75
)
;
background-color:#000000

;
    }

#CartContainer #Cart {
    position: absolute;
    width: 850px;
    top: 100px;
    left: 50%;
    margin-left: -425px;
    z-index: 50;
    background-color: #F3F3F3;
    border: 5px solid #000; /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 110px;
}

#Cart #CartHeader {
    border: 1px solid #000;
    background-color: #666;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}

#CartHeader H4 {
    margin: 0px;
    float: left;
    padding: 0px;
}

#CartHeader #CloseCart {
    border: 4px solid #000;
    font-size: 25px;
    line-height: 0.8;
    background-color: #000;
    color: #FFF;
    padding: 3px;
    position: absolute;
    right: -16px;
    top: -15px;
    cursor: pointer;
}

#Cart BUTTON {
    background-color: #858585;
    border: none;
    padding: 3px 7px 5px;
    font-weight: bold;
    color: #FFF;
    font-size: 13px;
    font-family: verdana; /*+box-shadow:3px 3px 4px #787878;*/
    -moz-box-shadow: 3px 3px 4px #787878;
    -webkit-box-shadow: 3px 3px 4px #787878;
    -o-box-shadow: 3px 3px 4px #787878;
    box-shadow: 3px 3px 4px #787878;
    margin-bottom: 5px;
}

#Cart BUTTON:active {
    color: #383838;
}

#Cart #ItemsTable {
    text-align: center;
    border: 2px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

#ItemsTable TR {
    border: 1px solid #000;
    height: 35px;
}

#ItemsTable .Name {
    width: 300px;
    font-weight: bold;
}

#ItemsTable .Gender {
    width: 100px;
}

#ItemsTable .Size {
    width: 50px;
}

#ItemsTable .Price {
    width: 125px;
}

#ItemsTable .Quantity {
    width: 65px;
}

#ItemsTable .Buttons {
    width: 185px;
}

#ItemsTable #CouponLine {
    font-weight: bold;
}

#Cart #CallOutBox {
    width: 200px;
    border: 3px solid #000;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-weight: bold;
    color: #DC282D;
    padding: 10px;
}

#Cart #CallOutBox P {
    margin: 0;
    padding: 0;
}

#Cart #Shipping {
    width: 215px;
    position: absolute;
    bottom: 20px;
    left: 275px;
    padding: 5px;
    border: 3px solid #000;
    height: 105px;
}

#Cart #Shipping H5 {
    margin: 0px 0px 10px;
    padding: 0px;
    font-weight: bold;
    font-size: 15px;
}

#Cart #Shipping LABEL {
    display: block;
    margin-top: 5px;
}

#Cart #CouponsContainer {
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#Cart #Total {
    position: absolute;
    bottom: 50px;
    right: 30px;
    font-weight: bold;
}

#Cart #EmptyCart {
    position: absolute;
    bottom: 23px;
    right: 210px;
}

#Cart #PayPal {
    position: absolute;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
}

#Cart #PayPal.Disabled {
    cursor: default; /*+opacity:46%;*/
    filter: alpha(opacity=46);
    -ms-filter: progid

:DXImageTransform.Microsoft.

Alpha
(
Opacity

=
46
)
;
-moz-opacity:

0.46
;
opacity:

0.46
;
    }